body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 600px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #2d89ef;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
}
